$darkBrown : #372f2c;

.contain-to-grid {
  background: $darkBrown;

  .top-bar {
    max-width: 1000px;
    margin: 0 auto;

    li {
      border-color: transparent;
    }
  }
}

.container {
  width: 100%;

  .top-bar {
    margin: 0px auto;
    background: $darkBrown;
    margin-bottom: 0;
    border-bottom: none;

    li.active {
      background: #ffffff;
      border-color: $darkBrown;
      border-bottom-color: #ffffff;
      border-top-color: #ffffff;

      a {
        color: $darkBrown;
      }
    }

    li.active:hover {
      border-color: $darkBrown;
      border-bottom-color: #ffffff;
      border-top-color: #ffffff;
    }

    li.active > a:hover {
      background: #ffffff;
      border-color: $darkBrown;
      cursor: pointer;
    }

    a.top   {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
    }
  }

  .top-bar li.active > a {
    color: $darkBrown;
  }
}