- content_for(:navigation) do
  = render :partial => "/layouts/member_navigation", :locals => { :active => "products" }

.row
  .three.columns
    .sidebar
      %ul.nav-bar.vertical
        %li
          = link_to 'Back', products_path
  .nine.columns
    .twelve.columns
      %h4
        New Product
        %small

      %hr
    .twelve.columns
      = render 'form'
