- content_for(:navigation) do
  = render :partial => "/layouts/member_navigation", :locals => { :active => "products" }

.row
  .three.columns
    .sidebar
      %ul.nav-bar.vertical
        %li
          = link_to 'Back', products_path
  .nine.columns
    .twelve.columns
      %h4
        Products
        %small
          Manage the products you sell
      %hr
    .twelve.columns
      - if !notice.nil?
        .alert-box.secondary
          = notice
          %a.close{:href => ""}
            &times;