.container
  .fixed.contain-to-grid
    %nav.top-bar
      %ul
        %li.name.active
          %h1
            %a{:href => root_path}
              = t(:title)
        %li.toggle-topbar
          %a{:href => "#"}
      %section
        %ul.right
          %li.divider
          %li
            %a
              Features
          %li.divider
          %li
            %a
              Examples
          %li.divider
          %li
            %a
              Pricing
          %li.divider
          - if !member_signed_in?
            %li
              %a{:href => new_member_session_path}
                Login
          - else
            %li
              -#%a{:href => destroy_member_session_path, :method => :delete}
                Log-out
              = link_to "Log-out",destroy_member_session_path, :method => :delete
            %li.divider