.container
  .fixed.contain-to-grid
    %nav.top-bar
      %ul
        %li.name.active
          %h1
            %a{:href => root_path}
              = t(:title)
        %li.toggle-topbar
          %a{:href => "#"}
      %section
        %ul.right
          %li.divider
          %li
            %a
              Features
          %li.divider
          %li
            %a
              Examples
          %li.divider
          %li
            %a
              Pricing
          %li.divider
          %li
            %a
              Login