.container
  .fixed.contain-to-grid
    %nav.top-bar
      %ul
        %li.name.active
          %h1
            %a{:href => root_path}
              = t(:title)
        %li.toggle-topbar
          %a{:href => "#"}
      %section
        %ul.left
          -if !current_company.nil?
            %li
              %a{:href => "#"}
                = current_company.name
        %ul.right
          %li.divider
          %li
            %a
              Users
          %li.divider
          %li
            %a
              Customers
          %li.divider
          %li
            %a
              Inventory
          %li.divider
          %li
            = link_to "Log-out",destroy_user_session_path, :method => :delete
          %li.divider