.container
  .fixed.contain-to-grid
    %nav.top-bar
      %ul
        %li.name.active
          %h1
            %a{:href => root_path}
              = t(:title)
        %li.toggle-topbar
          %a{:href => "#"}
      %section
        %ul.left
          %li
            %a{:href => "#"}
              = current_user.temp_company_name
        %ul.right
          %li.divider
          -#%li
            %a
              Features
          -#%li.divider
          -#%li
            %a
              Examples
          -#%li.divider
          -#%li
            %a
              Pricing
          -#%li.divider
          -#- if !user_signed_in?
          %li
            %a{:href => destroy_member_session_path}
              Log-out
          %li.divider